<!DOCTYPE html>
<html>
<head>
    <title>Pesquisa de Usuários</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();

                var email = $('#email').val();

                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {email: email},
                    success: function(response) {
                        var users = response.users;

                        if (users.length > 0) {
                            var html = '';
                            for (var i = 0; i < users.length; i++) {
                                html += '<p>Email: ' + users[i].email + '</p>';
                                html += '<p>Nome: ' + users[i].name + '</p>';
                                // Adicione outros campos do usuário aqui
                                html += '<br>';
                            }
                            $('#resultados').html(html);
                        } else {
                            $('#resultados').html('<p>Nenhum usuário encontrado.</p>');
                        }
                    },
                    error: function() {
                        $('#resultados').html('<p>Ocorreu um erro na busca.</p>');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Pesquisa de Usuários</h1>
    <form>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <button type="submit">Buscar</button>
    </form>
    <div id="resultados"></div>
</body>
</html>
